body{
    overflow-x: hidden;
}
.top{
    background-color: rgb(53, 50, 50);
    position: sticky;
    top: 0%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
}

.top .btn{
    color: white;
    font-weight: 400;
    white-space: nowrap;
    border: none;
}
.top .btn:hover{
    /* background-color: bisque; */
    border-bottom: 2px solid orange;
}
.top .search{
    width: 40vw;
}
.top .search input{
    border: none;
    outline: none;
}
.top .div{
    list-style-type: none;
    width: 30vw;
}
.top button{
    color: white;
    font-weight: 400;
    white-space: nowrap;
    border: none;
}
.top button:hover{
    color: orange;
}
.stat{
    display: none;
    position: absolute;
    left: -100%;
    top: 100%;
    background-color: beige;
    width: 400px;
}
.stat button{
    color: black;
    border-radius: 0;
}
.stat button:hover{
    color: orange;
}
.stats:hover .stat{
    display: flex;
    flex-direction: column;
}
#myVideo {
    position: absolute;
    top: -50;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* z-index: -1; */
  }
  .font{
    font-family: serif;
    font-size: 70px;
  }
#landd{
    /* background-image: url(ezgif.com-webp-to-png.png); */
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    overflow: hidden;
}
.search input{
    border-radius: 40px 0px 0px 40px;
    height: 4rem;
    border: none;
    outline: none;
}
.search button{
    border-radius: 0px 40px 40px 0px;
    background-color: orange;
}
.land{
    padding-inline: 100px;
    background-color: rgba(22, 20, 2, 0.674);
    height: 100%;
    width: 100%;
    /* backdrop-filter: blur(2px); */
}
#post{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid orange;
}
.inp{
    border: 1px solid orange;
    outline: none;
    box-shadow: 0px 0px 10px grey;
}

.hide::-webkit-outer-spin-button,
.hide::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.des{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
}
#create{
    width: 80%;
}
.na{
    border: 1px solid cadetblue;
    color: cadetblue;
}
.demo{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.each{
    /* box-shadow: 0px 0px 4px grey; */
    width: 100%;
    min-width: 250px;
    padding: 20px;
    box-shadow: 0px 0px 10px grey;
}
.each .imgs{
    width: 100%;
    overflow: hidden;
}
.each img{
    min-width: 200px;
    transition: all ease-in-out 0.3s;
}
.each img:hover{
    transform: scale(103%);
}
.rm{
    border: none;
    background-color: cadetblue;
}