*{
    margin: 0;
    padding: 0;
}
main{
    background-color: aliceblue;
}
#topn{
    background-color: brown;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.top .btn{
    color: white;
    font-weight: 400;
    white-space: nowrap;
    border: none;
}
.top .btn:hover{
    /* background-color: bisque; */
    color: cadetblue;
}
.top .stats .stat{
    border-top: 3px solid brown;
    display: none;
}
.top .stats .stat .btns{
    color: brown;
}
.top .stats .stat .btns:hover{
    color: cadetblue;
}
.top .stats:hover .stat{
    display: flex;
}
.top .sign{
    color: orange;
}
#landd{
    background-image: url(oh-1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.land{
    padding-inline: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    /* backdrop-filter: blur(2px); */
}
.dev{
    font-size: 80px;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    /* text-shadow: 0px 0px 2px gray; */
    /* text-shadow: 0px 0px 4px black; */
}
.start{
    background-color: brown;
    border: none;
    transition: all ease-in-out 0.5s;
}
.startt{
    color: grey;
    border: none;
    background-color: transparent;
}
.start button:hover{
    background-color: transparent;
    border: 2px dashed red;
}

#landd #img, #imgg{
    position: absolute;
    right: 10%;
    z-index: 1;
    box-shadow: 2px 2px 8px black;
    border-right: 5px solid brown;
    border-radius: 0px 5px 5px 0px;
}
#dev, #devs{
    transform: skewX(45deg);
    font-size: 60px;
    width: 90%;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic; */
    font-weight: 500;
    margin-top: -200%;
    transition-property: margin-top;
    transition: ease-in-out 1s;
    /* text-shadow: 0px 0px 2px gray; */
    /* text-shadow: 0px 0px 4px black; */
}
.lands{
    /* height: 88vh;
    background-image: url(oh-1.jpg); */
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
    background: linear-gradient(to bottom right, aliceblue, aliceblue, grey, grey, grey);
    /* padding-top: 5%; */
}
.landed{
    padding-left: 100px;
    background-color: aliceblue;
    height: 100vh;
    width: 60%;
    transform: skewX(-45deg);
    z-index: -1;
    border-right: 8px solid cadetblue;
    /* border-radius: 0px 40% 100% 0px; */
    /* backdrop-filter: blur(2px); */
}
.bout{
    white-space: nowrap;
    color: orange;
}
.boutT{
    white-space: nowrap;
    color: cadetblue;
}
/* .landed button{
    transform: skewX(45deg);
    background-color: cadetblue;
} */
/* .blur{
    z-index: -1;
    width: 100%;
    height: 120px;
    background-color: brown;
    transform: skewY(-10deg);
} */
#imgs{
    scroll-behavior: smooth;
    margin-top: 50%;
    transition: margin-top ease-in-out 2s;
}
/* image{
    display: flex;
    align-items: stretch;
} */

.offer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .offer-box {
    width: 23%;
    min-width: 250px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid brown;
    background-color: white;
  }
  
  .offer-box .imag{
    width: 100%;
    overflow: hidden;
  }
  .offer-box .imag img{
    width: 100%;
    transition: all ease-in-out 0.5s;
  }
  .offer-box .imag:hover img{
    transform: scale(1.1);
  }
  
  .offer-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: cadetblue;
  }
  
  .offer-description {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }
  .bord button{
    width: fit-content;
    white-space: nowrap;
    border: 2px solid brown;
    background-color: brown;
  }
  .bord .starttt{
    color: brown;
  }
  #clients{
    margin-left: -100%;
    transition: all ease-in-out 2s;
  }
  .person{
    min-height: 300px;
    max-height: fit-content;
  }
  .person img{
    min-width: 250px;
  }
  .person h3{
    color: brown;
  }
  .person a{
    color: aliceblue;
    background-color: cadetblue;
    transition: all ease-in-out 0.3s;
  }
  .person a:hover{
    background-color: white;
    color: cadetblue;
    transform: translateY(-4%);
    border-left: 1px solid orange;
    box-shadow: 0px 2px 8px black;
  }
  .person .details{
    min-width: 200px;
  }
#form{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    justify-content: center;
}
#form form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    border-top: 7px solid cadetblue;
    border-bottom: 7px solid brown;
    border-radius: 5px;
    overflow-y: scroll;
    /* background-image: url(iDev\ HM\ Black.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
}
#form form::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
}
#form form::-webkit-scrollbar-thumb{
    background-color: transparent;
}
#form form p{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
}
#form form .fa{
    width: fit-content;
    border: none;
    z-index: 1;
}
#form form .cre{
    align-items: last baseline;
}
#form form .inp{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    transition: all ease-in-out 0.2s;
}
#form form .inp:hover, #form form .inp:focus-within{
    /* border-inline: 1px solid orange; */
    /* box-shadow: 0px 7px 7px grey; */
}
.add{
    border: none;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 8px grey;
}
#form form .inp input{
    border: none;
    outline: none;
}
#form form .inp .btn{
    visibility: hidden;
}
#form form h5 button, #form form h6 button{
    color: cadetblue;
    background-color: transparent;
    border: none;
}
#form #signup, #login{
    display: flex;
    flex-direction: column;
}
#form form .over{
    overflow: hidden;
}
#form form .over #two, #form form .over #three{
    margin-right: -100%;
}