*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: white;
    z-index: 1;
}
.topn{
    background-color: rgb(30, 47, 47);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.top .botn{
    color: white;
    font-weight: 400;
    white-space: nowrap;
    border: none;
    border-bottom: 2px solid transparent;
}
.top .botn:hover{
    /* background-color: bisque; */
    border-bottom: 2px solid orange;
}
/* .top .more:hover{
    border: none;
} */
.top .stats .stat{
    position: absolute;
    width: 10%;
    border-top: 14px solid rgb(33, 37, 41);
    display: none;
}
.top .stats:hover .stat{
    display: flex;
}
.s_admin{
    color: white;
    background-color: gray;
}
/* .top .sign{
    color: orange;
} */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* z-index: -1; */
  }
  .font{
    font-family: serif;
    font-size: xx-large;
  }
#landd{
    /* background-image: url(ezgif.com-webp-to-png.png); */
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.land{
    padding-inline: 100px;
    background-color: rgba(0, 0, 0, 0.562);
    height: 100%;
    width: 100%;
    /* backdrop-filter: blur(2px); */
}
.start{
    /* background-color: brown; */
    transition: all ease-in-out 0.5s;
    border: 1px solid;
}
.dev{
    font-size: 50px;
    /* width: 20%; */
    /* font-weight: 600;
    text-shadow: 0px 0px 2px gray; */
    /* text-shadow: 0px 0px 4px black; */
}

/* #landd #img, #imgg{
    position: absolute;
    right: 10%;
    z-index: 1;
    box-shadow: 2px 2px 8px black;
    border-right: 5px solid brown;
    border-radius: 0px 5px 5px 0px;
} */
#dev, #devs{
    transform: skewX(45deg);
    font-size: 60px;
    width: 90%;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic; */
    font-weight: 500;
    margin-top: -200%;
    transition-property: margin-top;
    transition: ease-in-out 1s;
    /* text-shadow: 0px 0px 2px gray; */
    /* text-shadow: 0px 0px 4px black; */
}
.lands{
    /* height: 88vh;
    background-image: url(oh-1.jpg); */
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
    background: linear-gradient(to bottom right, aliceblue, aliceblue, grey, grey, grey);
    /* padding-top: 5%; */
}
.landed{
    padding-left: 100px;
    background-color: aliceblue;
    height: 100vh;
    width: 60%;
    transform: skewX(-45deg);
    z-index: -1;
    border-right: 8px solid cadetblue;
    /* border-radius: 0px 40% 100% 0px; */
    /* backdrop-filter: blur(2px); */
}
.bout{
    white-space: nowrap;
    color: orange;
    font-family: serif;
}
.boutT{
    white-space: nowrap;
    color: cadetblue;
}
/* .landed button{
    transform: skewX(45deg);
    background-color: cadetblue;
} */
/* .blur{
    z-index: -1;
    width: 100%;
    height: 120px;
    background-color: brown;
    transform: skewY(-10deg);
} */
.home{
    padding-block: 40px;
}
.imgs::-webkit-scrollbar{
    height: 0px;
}
#imgs{
    scroll-behavior: smooth;
    /* margin-top: 40%;
    transition: margin-top ease-in-out 2s; */
}
.each{
    width: 25vw;
    min-width: 250px;
}
.each img{
    width: 100%;
    height: 60%;
}
#imgs h6{
    line-height: 1.5;
}
/* image{
    display: flex;
    align-items: stretch;
} */

.offer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .offer-box {
    width: 23%;
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #555;
    background-color: white;
    transition: all ease-in-out 0.5s;
  }

  .offer-box:hover{
    transform: translateY(-1.2%);
    box-shadow: 0px 7px 7px #555;
  }
  
  .offer-box img{
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    /* transition: all ease-in-out 0.5s;
  }
  .offer-box .imag:hover img{
    transform: scale(1.1); */
  }
  
  .offer-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: cadetblue;
  }
  
  .offer-description {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }

  .inactive{
    /* margin-left: -100px;
    transition: all ease-in-out 1s; */
  }

  .active{
    /* margin-left: 0px;
    transition: all ease-in-out 1s; */
  }

  .bord button{
    width: fit-content;
    white-space: nowrap;
    border: 2px solid cadetblue;
    background-color: cadetblue;
  }
  .bord .starttt{
    color: cadetblue;
  }
  #clients{
    scroll-behavior: smooth;
    /* margin-left: -100%; */
    transition: all ease-in-out 1s;
  }
  #person{
    /* transform: scale(40%); */
    transition: all ease-in-out 1s;
  }
  .person{
    min-height: 300px;
    max-height: fit-content;
  }
  .person img{
    min-width: 250px;
  }
  .person h3{
    color: cadetblue;
  }
  .person h6{
    line-height: 1.5;
  }
  .person a{
    color: aliceblue;
    background-color: cadetblue;
    transition: all ease-in-out 0.3s;
  }
  .person a:hover{
    background-color: goldenrod;
    color: white;
    transform: translateY(-4%);
    /* border-left: 1px solid orange; */
    box-shadow: 0px 2px 8px black;
  }
  .person .details{
    min-width: 200px;
  }
#form{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    justify-content: center;
}
#form form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    box-shadow: 0px 0px 10px black;
    background-color: white;
    /* border: 7px solid transparent; */
    /* border-image: linear-gradient(to bottom right, darkgoldenrod, black)30 stretch; */
    /* border: 7px solid transparent;
    border-image: linear gradient(cadetblue, brown) 30 stretch; */
    border-top: 7px solid cadetblue;
    border-bottom: 7px solid brown;
    border-radius: 10px;
    overflow-y: scroll;
    /* background-image: url(iDev\ HM\ Black.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
}
#form form::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
}
#form form::-webkit-scrollbar-thumb{
    background-color: transparent;
}
#form form p{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
}
#form form .fa{
    width: fit-content;
    border: none;
    z-index: 1;
}
#form form .cre{
    align-items: last baseline;
}
#form form .inp{
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px black;
    transition: all ease-in-out 0.2s;
}
#form form .inp:focus-within{
    border: none;
    border-bottom: 1px solid black;
    box-shadow: 0px 4px 7px grey;
}
#form form .inp:hover{
    transform: translateY(-4%);
    box-shadow: 0px 4px 7px grey;
}
.add{
    border: none;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 8px grey;
}
#form form .inp input{
    border: none;
    outline: none;
}
#form form .inp .btn{
    visibility: hidden;
}
#form form h5 button, #form form h6 button{
    color: cadetblue;
    background-color: transparent;
    border: none;
}
#form #signup, #login{
    display: flex;
    flex-direction: column;
}
#form form .over{
    overflow: hidden;
}
#form form .over #two, #form form .over #three{
    margin-right: -100%;
}

#footer{
    height: fit-content;
    background-color: rgb(30, 47, 47);
}
#footer small{
    white-space: nowrap;
}
div .foot a{
    color: aliceblue;
    transition: all ease-in-out 0.3s;
}
.foot a:hover{
    color: goldenrod;
}
.media a{
    color: goldenrod;
    transition: all ease-in-out 0.3s;
}
.media a:hover{
    color: cadetblue;
}
@media (max-width: 770px) {
    .bot{
        width: 100%;
    }
}