body{
    overflow-x: hidden;
}
.top{
    background-color: rgb(53, 50, 50);
    position: sticky;
    top: 0%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
}

.top .btn{
    color: white;
    font-weight: 400;
    white-space: nowrap;
    border: none;
}
.top .btn:hover{
    /* background-color: bisque; */
    border-bottom: 2px solid orange;
}
.top .search{
    width: 40vw;
}
.top .search input{
    border: none;
    outline: none;
}
.top .div{
    list-style-type: none;
    width: 30vw;
}
.top button{
    color: white;
    font-weight: 400;
    white-space: nowrap;
    border: none;
}
.top button:hover{
    color: orange;
}
.stat{
    display: none;
    position: absolute;
    left: -100%;
    top: 100%;
    background-color: beige;
    width: 400px;
}
.stat button{
    color: black;
    border-radius: 0;
}
.stat button:hover{
    color: orange;
}
.stats:hover .stat{
    display: flex;
    flex-direction: column;
}

#footer{
    height: 60vh;
    background-color: rgb(30, 47, 47);
}
div .foot a{
    color: aliceblue;
    transition: all ease-in-out 0.3s;
}
.foot a:hover{
    color: goldenrod;
}
.media a{
    color: goldenrod;
    transition: all ease-in-out 0.3s;
}
.media a:hover{
    color: cadetblue;
}
@media (max-width: 770px) {
    .bot{
        width: 100%;
    }
}